.header-img {
    width: 100vw;
    height: 55vh;
    margin-bottom: 30px;
  }
  .header-img .banner-about {
    width: 100%;
    margin-top: 50px;
    height: 100%;
    background: url(https://p.w3layouts.com/demos_new/template_demo/05-02-2022/tours-liberty-demo_Free/1559675193/web/assets/images/inner-banner.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
    overflow: hidden;
    position: relative;
  }
  .nav-button {
    position: absolute;
    top: 50%;
    left: 10%;
  }
  .nav-button h1 {
    font-size: 40px;
    margin-bottom: 10px;
  }
  ul {
    list-style: none;
  }
  #a-home {
    color: black;
    font-weight: 700;
  }
  .nav-button ul {
    display: flex;
    gap: 10px;
  }
 
  .about-sec .about-right a {
    margin: 20px 0;
  }
  .a-social {
    background-color: blue;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: grid;
    place-content: center;
  }
  .a-social a {
    color: white;
  }
  .blog-body {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .blog-data {
    text-align: center;
    padding: 10px;
  }
  .blog-row1 {
    gap: 10px;
    place-content: center;
  }
  .blog-box .blog-data .blog-name a {
      font-size: 20px;
    }
    .a-social:hover {
        background-color:var(--black);
        border-radius: 50%;
        width: 30px;
        height: 30px;
        display: grid;
        place-content: center;
    }
    /* =============================testamonial/feature-sec====== */
    .slider-master{
        display: flex;
        overflow: hidden;
        width: 200%;
    }
    .feature-slide {
        width: 50%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        animation: none;
        /* overflow:hidden; */
        margin: 10px 0;
        animation:formaster 5s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
        
}
  .master-controller{
    width: 80vw;
    overflow: hidden;
    margin: 0 auto;
  }
  @keyframes formaster {
    0%{
        transform: translateX(0);
    }
    20%{
        transform: translateX(0);

    }
    30%{
        transform: translateX(-50%);
    }
    40%{
        transform: translateX(-50%);
    }
    50%{
        transform: translateX(-50%);
    }
    60%{
        transform: translateX(-50%);
    }
    70%{
        transform: translateX(-100%);
    }
    80%{
        transform: translateX(-100%);
    }
    90%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-100%);
    }
  }
  .features{
    margin-top: 100px;
    padding: 50px 20px;
    background-color:#f2f5f7;
  }
  .feature-head p{
    letter-spacing: 0px;
    color: rgba(0, 0, 0, 0.858);
  }
  .feature-slide .slides {
    width: 100%;
    height:100%;
    box-shadow: none;
  }
  .data-class ul img {
    border-radius: 50%;
    width:70px;
    height:70px;
    vertical-align: middle;
  }
  .data-class{
    background-color: #f2f5f7;
  }
  .data-class ul li:nth-child(2){
    margin-left: 20px;
    font-size: 20px;
    color: var(--black);
    font-weight: 600;
    padding: 10px 0;
    word-spacing: 1px;
  }
  .data-class ul li p{
    font-weight: 400;
    margin-top: 7px;
  }
  .head-comment{
    padding: 15px 30px;
    background-color:var(--white);
  }
  .head-comment .fa-quote-left{
    color:var(--primary_blue);
    font-size: var(--f40);
    
  }
  .head-comment .person-n{
    font-size:var(--f25);
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
  }
  .head-comment p{
    font-size: 14px;
    padding: 10px;
    line-height: 30px;
  }






  /* ====================1st media====================== */
  @media (max-width: 576px) {
    .header-img {
      height: 35vh;
      margin-bottom: 50px;
    }

    .about-sec {
      min-height: 100vh;
    }
    .statistics {
      margin-top: 50px;
    }
    .blog-body {
      grid-template-columns: repeat(1, 1fr);
    }
    /* --------------------comment sec------- */
    .slider-master {
        display: flex;
        margin: 0 auto;
        animation: none
    }
    .head-comment {
        padding: 15px 24px;
    }
    .feature-slide {
        animation: none;
        padding: 20px 0px !important;
        grid-template-columns: repeat(1, 1fr);

    }
    }

  



  /* ============================2nd media============== */
  @media (min-width: 576px) and (max-width: 800px) {
    .header-img {
      height: 40vh;
      margin-bottom: 70px;
    }
    .statistics {
      margin-top: 400px;
    }
    .blog-body {
      grid-template-columns: repeat(2, 1fr);
    }
    .blog-box:nth-child(3) {
      grid-column: 1 / span 1 !important;
    }
  }