
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Roboto+Condensed&family=Sevillana&family=Ubuntu+Sans:ital,wght@0,100..800;1,100..800&display=swap');

:root{
    --font-cursive:"Sevillana", cursive;
    --font-roboto:"Roboto Condensed", sans-serif;
    --font-great:"Great Vibes", cursive;
    --font-ubuntu:"Ubuntu Sans", sans-serif;;
/* ======================================================= */
    --f10:10px;
    --f14:14px;
    --f15:15px;
    --f16:16px;
    --f18:18px;
    --f20:20px;
    --f25:25px;
    --f30:30px;
    --f35:35px;
    --f40:40px;
    --f50:50px;
    --f80:80px;
    --f100:100px;
    --p160:160px;
    /* ========================================================== */
    --p5:5px;
    --p10:10px;
    --p15:15px;
    --p20:20px;
    --p30:30px;
    --p40:40px;
    --p50:50px;
    --p80:80px;
    --p100:100px;
    --p150:150px;
    
    /* ===================================================== */
    --black:black;
    --white:white;
    --salmon:salmon;
    --light:rgba(219, 219, 229, 0.439);
    --grey:grey;
    --lightgrey:rgba(185, 180, 180, 0.404);
    --lightblue:rgb(37, 37, 223);
    --lightseagreen:lightseagreen;
    --primary_blue:#336dd5;
    --light:#f2f5f7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100vw;
    font-family: var(--font-roboto);
    overflow-x: hidden;
}
.header .navbar{
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: space-around;
    box-shadow: var(--p10) 0 var(--p10) rgba(128, 128, 128, 0.2);
    position:fixed;
    z-index: 100;
    background-color: var(--white);   
}
h1,h2,h3,h4{
    font-family: var(--font-great);
    font-weight: 500;
}
a{
    text-decoration: none;
}
.header .navbar .nav-right ul a{
    text-decoration: none;
    color: var(--black);
    font-size: var(--f16);
    transition: 0.3s ease-in-out;
}
.header .navbar .nav-right{
    display: flex;
    align-items: center;
}
.header .navbar .nav-right ul{
    display: flex;
    gap:var(--p30);
    list-style: none;
}
.header .navbar .nav-right ul a i{
    font-size: var(--f10);
}
.header .navbar .nav-left{
    font-size: var(--f30);
    font-weight: 500;
    display: flex;
    align-items: center;
}
.header .navbar .nav-right form input{
    font-size: var(--f14);
    padding: var(--p10) var(--p20);
    border-top-left-radius:var(--p40);
    border-bottom-left-radius:var(--p40);
    border: 1px solid var(--lightgrey);
    margin: var(--p20) 0 var(--p20) var(--p20);
    outline: none;
}
.header .navbar .nav-right form button{
    font-size: var(--f14);
    color:var(--white);
    padding: var(--p10);
    border: none;
    border-top-right-radius:var(--p30);
    border-bottom-right-radius:var(--p30);
    background-color: var(--lightblue);
    margin-left: -5px;
}
.header .navbar .nav-right .moon i{
    width: 50px;
    font-size: var(--f30);
    /* transform: rotate(-10deg); */
    margin-left: var(--p30);
}
.header .navbar .nav-right .fa-moon{
    transform: rotate(-10deg);
}
.animate{
    animation: animate 0.5s ease;
}
@keyframes animate {
    from{
        color: black;
        transform: rotate(-10deg);
    }
    to{
        color: orange;
        transform: rotate(360deg);
    }
}
.setting{
    display: none;
}
.header .navbar .nav-right ul .active,.header .navbar .nav-right ul a:hover{
    color: var(--lightblue);
}
/* =======================header-colse======================= */
.main-sec{
    width: 400vw;
    display: flex;
    animation: slider-head 20s cubic-bezier(0.165, 0.84, 0.44, 1) infinite 2s;
    transition: 1s ease;
    scroll-behavior: smooth;
}
.main{
    background: url(imgs/banner1.jpg);
}
.main2{
    background: url(imgs/banner2.jpg);
}
.main3{
    background: url(imgs/banner3.jpg);
}
.main4{
    background: url(imgs/banner4.jpg);
}
@keyframes slider-head {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-100vw);
    }
    40%{
        transform:translateX(-100vw);
    }
    50%{
        transform: translateX(-200vw);
    }
    70%{
        transform: translateX(-200vw);
    }
    80%{
        transform: translateX(-300vw);
    }
    90%{
        transform: translateX(-300vw);
    }
    100%{
        transform: translateX(0);
    }
}
.main, .main2, .main3, .main4{
    width: 100vw;
    min-height:  calc(100vh - 78.400px);
    margin-top: 78.400px;
    background-position:center;
    background-size: cover;
}
.main-heading{
    height: inherit;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    padding:var(--p150);
}
.main-heading h1{
    font-size:var(--f80);
}
.main-heading p{
    padding-top: var(--p10);
    font-size: var(--f20);
}
.main-heading a{
    width:170px;
    color: white;
    font-size: var(--f18);
    padding: var(--p15) 0;
    margin: var(--p50) 0;
    border-radius: var(--p30);
    text-align: center;
    background-color:rgba(48, 48, 234, 0.767);
    font-weight: bold;
    transition: 0.5s ease-in-out;
    border: 1px solid var(--lightblue);
}

/* ==========================form-section============ */
.form-sec{
    width: 100%;
    padding: var(--p80) var(--p20);
}
.form-sec .form-tour{
    width: 80%;
    display: grid;
    margin:0 auto;
    padding: var(--p50);
    grid-template-columns: repeat(5,1fr);
    box-shadow: 0 10px 20px 1px rgba(128, 128, 128, 0.1);
}
.form-sec .form-tour .input-sec{
    display: flex;
    flex-direction: column;
    gap: var(--p10);
}
.form-sec .form-tour .input-sec label{
    font-size: var(--f16);
    font-weight: 800;
}
.form-sec .form-tour .input-sec input,select{
    width: 90%;
    font-size: var(--f14);
    height:var(--p50);
    border-radius: var(--p30);
    padding: var(--p10) var(--p20);
    border: none;
    outline: none;
    background-color:var(--light);
    appearance: none;
}
.form-sec .form-tour .find-btn{
    display: flex;
    align-items:center;
}
.form-sec .form-tour .find-btn button{
    width: 100%;
    height: var(--p50);
    font-size: var(--p18);
    font-weight: bold;
    border-radius: var(--p30);
    color: var(--white);
    background-color: var(--lightblue);
    transition: 0.5s ease-in-out;
    border: 1px solid var(--lightblue);
    
}
/* ==============================form-sec-close========= */
.about-sec {
    width: 80%;
    margin: 0 auto;
    display: flex;
    gap: var(--p50);
    padding: var(--p80) 0 var(--p50) 0;
    justify-items: center;
}
.about-left{
    width: 50%;
    height: 100%;
    border-radius: 10px;
}
.about-sec .about-left img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}
.about-sec .about-right{
    width: 50%;
    height: 100%;
    padding: var(--p50) 0;
}
.about-sec .about-right h1{
    font-size: var(--f40);
    color: var(--lightblue);
    text-transform: capitalize;
}
.about-sec .about-right #tick{
    width: 20px;
    height: 20px;
    font-size: var(--p10);
    color: var(--white);
    border-radius:50%;
    padding: 2px 4px;
    margin-right: var(--p10);
    background-color: var(--lightblue);
}
.about-sec .about-right #plan-head{
    font-size:var(--f35);
    letter-spacing: 1px;
    font-weight: 900;
    text-transform: capitalize;
}
.about-sec .about-right .para{
    color: var(--grey);
    margin: var(--p20) 0;
    line-height: 30px;
    letter-spacing:1px;
}
.about-sec .about-right p{
    margin-top: var(--p15);
    font-size: var(--f15);
}
.about-sec .about-right a{
    text-decoration: none;
    display:block;
    width:180px;
    color: white;
    font-size: var(--f16);
    padding: var(--p15) 0;
    margin: var(--p50) 0;
    border-radius: var(--p30);
    text-align: center;
    background-color:var(--lightblue);
    font-weight: bold;
    transition: 0.5s ease-in-out;
    border: 1px solid var(--lightblue);
}
.about-sec .about-right a:hover,.main-heading a:hover,.form-sec .form-tour .find-btn button:hover{
    color: var(--lightblue);
    background-color: transparent;
}
/* ==========================features-sec=================== */

.features .feature-head {
    text-align: center;
}
.feature-head h1{
    font-size: var(--f40);
    color: var(--lightblue);
}
.feature-head p{
    font-size: var(--f40);
    font-weight: 700;
    letter-spacing: 2px;
    color:rgba(0, 0, 0, 0.958);
    font-family:var(--font-ubuntu);
}
/* =========================== */
.features{
    background-color: var(--white);
}
.feature-slide{
    padding: 50px 15px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    gap: 20px;
}
.feature-slide .slides{
    width: 350px;
    height: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.15);
    overflow: hidden;
}
.feature-slide img{
    width: 100%;
    height: 100%;
    background-size: cover;
    vertical-align: middle;
    transition: 0.5s ease-in-out;
}
.feature-slide .slides .img-class{
    overflow: hidden;
}
.feature-slide .slides img:hover{
 transform: scale(1.1);
 cursor: pointer;
}
.data-class{
    padding: var(--p20) var(--p20);
}
.data-class ul{
    list-style: none;
    display: flex;
    color:rgb(230, 168, 11);
    gap: var(--p5);
    font-size: 12px;
}
.data-class ul .rating,p{
    color: grey;
    font-size: var(--f18);
}
.data-class .place a{
    color:black;
    font-size:22px;
    letter-spacing: 1px;
    font-weight: bold;
    margin: 10px 0;
    display: block;
}
.data-class .blue{
    color: var(--lightblue);
}
.data-class .Location{
    font-size: var(--f18);
    margin: 0 5px;
}
.data-class .dollor{
    margin: 15px 0;
    font-weight: bold;
}
.data-class .dollor .big-font{
    font-size: var(--f25);
    margin: 0 5px;
}
.data-class .Explore{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    font-size: var(--f18);
}
.data-class .blue .fa-arrow-right{
    margin-left: 5px;
    color: green;
}
.slider-master{
    display: flex;
}
.feature-slide{
    animation: slider 15s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
}

@keyframes slider {
    0%{
        transform: translateX(0);
    }
    10%{
        transform: translateX(-20%);
    }
    20%{
        transform: translateX(-20%);
    }
    30%{
        transform: translateX(-40%);
    }
    40%{
        transform: translateX(-40%);
    }
    50%{
        transform: translateX(-60%);
    }
    60%{
        transform: translateX(-60%);
    }
    70%{
        transform:translateX(-80%);
    }
    80%{
        transform:translateX(-80%);
    }
    90%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-100%);
    }
}
/* ======================= statistics-sec ============ */
.statistics-container{
    width: 100vw;
    padding: 100px 0;
    background: url(https://p.w3layouts.com/demos_new/template_demo/05-02-2022/tours-liberty-demo_Free/1559675193/web/assets/images/map.png) rgba(7, 7, 51, 0.912);
    background-position: center;
    margin: 80px 0;
    color: var(--white);
    display: gird;
    place-content: center;
    font-family: var(--font-ubuntu);
}
.statistics-head{
    text-align: center;
}
.statistics-head h1{
    font-size: var(--f40);
    color:var(--lightseagreen);
}
.statistics-head .exp{
    font-size: var(--f40);
    font-weight: 700;
    letter-spacing: 1px;
}
.statistics-body{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4,300px);
    place-content: center;
}
.statistics-body .icon{
    font-size: var(--f30);
    background-color: rgba(255, 255, 255, 0.292);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: grid;
    place-content: center;
}
.statistics-body .num{
    font-size: var(--f50);
    font-weight: 700;
}
.statistics-body .sub-des{
    color: var(--white);
    font-size: var(--f18);
}
.container-des{
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 10px;
}
/* ======================service-sec========== */
.service-class{
    display: grid;
    place-content: center;
}
.service-heading h1{
    font-size: var(--f35);
}
.service-heading p{
    letter-spacing: 0px;
    font-size: var(--f35);
}
.service-body{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.box1{
 width: 400px;
 height: 350px;
 background-color: #f2f5f7;
 margin: 50px 0;
 border-radius:5px;
 box-shadow: 0 0 10px rgba(128, 128, 128, 0.252);
 transition: 0.5s ease-in-out;
}
.box1 i{
    width: 80px;
    height: 80px;
    font-size: var(--f30);
    color: var(--white);
    border-radius: 50%;
    display: grid;
    place-content: center;
    background-color:var(--primary_blue);
}
.box1 a{
    height: 100%;
    font-family: var(--font-ubuntu);
    font-weight: 700;
    color:rgba(0, 0, 0, 0.886);
    display: grid;
    place-items: center;
    padding:40px ;
    text-align: center;
    gap: 20px;
}
.box1 .bold-heading{
    font-size: var(--f30);
}
.box1 .service-description{
    font-size: var(--f16);
    font-weight: 500;
    line-height: 30px;
}
.box1:hover{
 background-color: var(--white);   
}
/* ======================features-sec2====== */
.tour-features{
    width: 100vw;
    font-family: var(--font-ubuntu);
}
.tour-features .tour-container{
    width: 80%;
    margin: 80px auto;
    padding:20px;
    display: flex;
    place-items: center;
}
.tour-container .tour-left{
    width: 50%;
    height:90vh;
    background: url(https://p.w3layouts.com/demos_new/template_demo/05-02-2022/tours-liberty-demo_Free/1559675193/web/assets/images/about2.jpg)no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.tour-container .tour-right{
    width: 50%;   
    padding: 50px 0 0 50px;
}
.tour-right h1{
    font-size: var(--f30);
    color: var(--lightblue);
}
.tour-right .sub-heading{
    font-size: var(--f40);
    font-weight: 600;
    margin-bottom: 20px;
}
.tour-right .para{
    font-size: var(--f16);
    line-height: 30px;
    word-spacing: 3px;
    margin-bottom: 30px;
}
.tour-right .speciality{
    display: flex;
    margin: 50px 0;
}
.tour-right .speciality .fa-certificate, .fa-money-bill-wave{
    width: 80px;
    height:60px;
    border-radius: 50%;
    font-size: var(--f30);
    background-color:#d6dce0b8 ;
    color: var(--primary_blue);
    display: grid;
    place-content: center;
} 
.speciality .bold-sub-heading{
    font-weight: 900;
    font-size: var(--f20);
    margin-left: 20px;
}
.speciality .para{
    margin-top: 10px;
    margin-left: 20px;
    line-height: 25px;
}
/* ===============================blog-sec=============== */
.blog-class{
    margin-top: 30px;
    font-family: var(--font-ubuntu);
    background-color: #f2f5f7;
    padding: 80px;
}
.blog{
    width: 90%;
    margin: 0 auto;
}
.blog-head{
    text-align: center;
    margin-bottom: 30px;
}
.blog .blog-head h1{
    color: var(--lightblue);
}
.blog .blog-head p{
    color:var(--black);
    font-weight: 600;
}
.blog-body{
    width: 96%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    margin: 0 auto;
}
.blog-box {
    width: 100%;
    border-radius:10px;
    overflow: hidden;
    background-color: var(--white);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.111);
    position: relative;
}
.blog-box .blog-img{
    overflow: hidden;
}
.blog-img a img{
    width: 100%;
    height: 100%;
    transition: 0.5s ease-in-out;
}
.blog-data{
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 35px;

}
.blog-row1{
    display: flex;
    gap: 30px;
    font-size: var(--f16);
}
.blog-row1 i{
    color: var(--primary_blue);
}
.blog-data .blog-name a{
    font-size:var(--f25);
    font-weight: 600;
    color: black;
    transition: 0.5s ease-in-out;
}
.blog-data p{
    line-height: 30px;
    font-size: var(--f16);
}
.blog-data .blog-button{
    width: 150px;
    border: 1px solid var(--lightblue);
    background-color: var(--lightblue);
    text-align:center;
    padding: 15px 0px;
    border-radius: 40px;
    transition: 0.5s ease-in-out;
}
.blog-data .blog-button a{
    color: white;
    font-size: var(--f18);
    font-weight: 700;
    transition: 0.5s ease-in-out;
}
.blog-img .badge{
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px 20px 10px;
    background: var(--primary_blue);
    color: #fff;
    font-size:var(--f14);
    font-weight: 600;
    text-transform: uppercase;
    border-top-right-radius: 10px
}
.blog-button:hover{
    background-color:transparent;
}
.blog-button:hover a, .blog-data:hover .blog-name a{
    color:var(--lightblue);
    
}
.blog-img img:hover{
    transform: scale(1.1);
}
/* ===============================discount-container======== */
.discount-class{
    width: 100vw;
    padding: 100px 90px;
} 
.discount-container{
    font-family: var(--font-ubuntu);
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2,1fr);
 }
 .discount-left{
     width: 90%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.28);
 }
 .discount-left img{
    width: 100%;
    height:100%;
    object-fit: cover;
 }
 .discount-right{
    display: grid;
    place-content: center;
 }
 .discount-right .dis-30{ 
    color:var(--black);
    font-weight: 700;
    word-spacing: 2px;
    font-size: var(--f18);
 }
 .dis-heading{
    font-size:var(--f35);
    margin: 6px 0 20px 0;
    font-weight: 800;
    text-transform: uppercase;
 }
 .discount-right .para{
    line-height:var(--p30);
    margin-bottom: var(--p30);
 }
.discount-right form{
    display: flex;
    margin: 20px 0 40px 0;
}
.discount-right form input{
    width: 70%;
    padding: 20px 20px;
    border-radius: 30px 0 0 30px;
    border: none;
    outline: none;
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.19);
    font-size:var(--f16);
}
.discount-right form button{
    width: 30%;
    border: none;
    padding: 20px 20px;
    background-color: var(--primary_blue);
    border-radius: 0 30px 30px 0;
    color: var(--white);
    font-weight: 700;
    font-size: var(--f16);
    box-shadow: 0 0 10px rgba(128, 128, 128, 0.19);   
}
.discount-right form button:hover{
background-color: red;
}
.apps{
    display: flex;
    gap: 15px;
    font-size:var(--f35);
}
.apps span{
    width: 50px;
    height: 50px;
    display: grid;
    place-content: center;
    color: var(--primary_blue);
}
.apps span:hover{
color: red;
border: 2px solid blueviolet;
border-radius: 50%;
background-color: var(--black);
}

/* ===========================footer-sec=========== */
.footer-class{
    width:100vw;
    background-color: #0e2244;
    padding: 80px 60px;
}
.footer{
    width: 80%;
    margin:20px auto;
    display: grid;
    grid-template-columns:30% 15% 25% 30%;
    color:var(--white);
    font-family: var(--font-ubuntu);
}
.links{
    justify-self: center;
}
.f-head{
    font-size: var(--f20);
    font-weight: 800;
    margin-bottom: 30px;
}
.comman-para{
    display: grid;
    gap: 20px;
}
.comman-para .f-description{
    font-size:15px;
    color:rgba(255, 255, 255, 0.776);
}
.contacts .comman-para :nth-child(1){
    line-height: 25px;
}
.contacts .comman-para :nth-child(3){
    margin-bottom: 40px;
}
.contacts a, .links a{
    color:rgba(255, 255, 255, 0.476);
}
.footer .social-icon{
    display: flex;
    gap: 10px;
}
.footer .social-icon a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--white);
    color: var(--black);
    display: grid;
    place-content: center;
}
.links a{
    font-size: 15px;
}
.subscribe .f-btn button, .f-email input{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 40px;
    border: none;
    outline: none;
    margin-bottom: 10px;
}
.f-email input{
    font-size: var(--f16);
    text-align: center;
    padding: 0 60px;
}
.f-btn button{
    background-color: var(--primary_blue);
    border: 1px solid var(--primary_blue) !important;
    color: var(--white);
    font-weight: 700;
    font-size: var(--f16);
    transition: 0.3s ease-in-out;
}
.f-btn button:hover{
    background-color: transparent;
    color: var(--primary_blue);
}
.sub-info{
    font-size: var(--f14);
    line-height: 30px;
    color:rgba(255, 255, 255, 0.717);
}
.copyright-info{
    text-align: center;
}
.copyright-info .para{
    color: var(--white);
    font-size: var(--f16);
    margin-top: 50px;   
    word-spacing: 1px;
    font-family: var(--font-ubuntu);
}
.copyright-info .para a{
    color: var(--primary_blue);
}

.footer .social-icon a:hover {
    background-color: var(--primary_blue);
    color: var(--white);
}